<div class="ui large top fixed hidden menu">
    <div class="ui container">

        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!--Sidebar Menu-->

<!--Page Contents-->
<div class="pusher">

    <div class="ui inverted vertical masthead center aligned segment">
        <img src="img/fundo.jpg">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <div class="right item">
                    <a class="ui inverted button">Cadastre-se </a>
                    <a class="ui inverted button">Login</a>
                </div>
            </div>
        </div>
        <div class="ui text container">

            <h1 class="ui inverted header">
                HOMIE
            </h1>
            <h2>
                Locação de Imóveis para Estudantes Federais na Região de SC
            </h2>

        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">
                        A fim de alugar um imóvel ou até mesmo dividir seu aluguel com um colega?
                    </h3>
                    <p>
                        Homie lhe ajudará a sulucionar este problema. Aqui vocé pode dividir seu aluguel com um amigo ou até mesmo alugar um imovel apenas para você.
                    </p>
                    <h3 class="ui header">
                        Procurando um local para colocar seu imóvel para alugar?
                    </h3>
                    <p>
                        Homie também facilita este processo. Possibilitando oferecer o seu imével para estudantes de Universidades Federais.
                    </p>
                </div>
            </div>


        </div>

        <div class="ui inverted vertical footer segment" style="margin-top: 80px;">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">
                            Contato
                        </h4>
                        <div class="ui inverted link list" >
                            <a class="item" href="homepage.html#"> homie.locar@gmail.com</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>